[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
psycopg2 = "*"
geopy = "*"
requests = "*"
pytz = "*"
py-staticmaps = "*"
pycairo = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
